.rotation {
  animation: rotate 10s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gradientText {
  animation: colorChange 5s linear infinite;
}

@keyframes colorChange {
  0% {
    color: #e5007d;
  }
  25% {
    color: #ca2c88;
  }
  50% {
    color: #ab3e8f;
  }
  75% {
    color: #874996;
  }
  100% {
    color: #5e4e9c;
  }
}
